<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Arbol Binario de Búsqueda </title>
        <style type="text/css">
            .ui-diagram-element {   
                width:5em; 
                height:5em;
                line-height:5em;
                text-align: center;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
                border-radius: 5em;
                border: 1px solid #404a4e;
                background-color: #404a4e;
                color: #cccccc;
            }

            .ui-diagram-element:hover {
                background-color: #20282b;
            }
        </style>
    </h:head>
    <h:body>
        <h:form>
            <p:growl id="pgwErrores"/>
            <p:panel header="Arbol Binario de Busqueda" rendered="#{!controladorABB.verRegistrar}">
                <p:diagram value="#{controladorABB.model}" 
                           style="height:600px" styleClass="ui-widget-content" />

                <p:commandButton  ajax="false" value="Nuevo" action="#{controladorABB.habilitarVerRegistrar()}" 
                                 update="@all" />
                
            </p:panel>
            <p:panel header="Agregar Infante" rendered="#{controladorABB.verRegistrar}">
                <p:panelGrid columns="2">
                    <p:outputLabel value="Número Identificación"/>
                    <p:inputText value="#{controladorABB.infante.nroIdentificacion}" required="true"/>                    
                    <p:outputLabel value="Nombre" />
                    <p:inputText required="true" value="#{controladorABB.infante.nombre}"/>
                    <p:outputLabel value="Edad"/>
                    <p:spinner min="1" max="7" value="#{controladorABB.infante.edad}"/>
                    <p:outputLabel  value="Localidad"/> 
                    <p:selectOneMenu required="true" value="#{controladorABB.infante.localidad.codigo}">
                        <f:selectItems value="#{controladorABB.localidades}"
                                       var="loc" itemLabel="#{loc.nombre}"
                                       itemValue="#{loc.codigo}" />
                    </p:selectOneMenu>
                    <p:commandButton value="Guardar" update="@all" ajax="false"
                                     action="#{controladorABB.guardarInfante()}"/>
                    <p:commandButton value="Cancelar" action="#{controladorABB.deshabilitarVerRegistrar()}"
                                     update="@all" ajax="false"/>  
                </p:panelGrid>
            </p:panel>
            
            <p:panel header="Recorrido InOrden" rendered="#{!controladorABB.arbol.esVacio()}">
                <p:dataTable value="#{controladorABB.arbol.recorrerInOrden()}"
                             var="filaIn">
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Nro"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.nroIdentificacion}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Nombre"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.nombre}"/>
                    </p:column>
                </p:dataTable>
                
            </p:panel>
            
             <p:panel header="Recorrido PreOrden" rendered="#{!controladorABB.arbol.esVacio()}">
                <p:dataTable value="#{controladorABB.arbol.recorrerPreOrden()}"
                             var="filaIn">
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Nro"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.nroIdentificacion}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Nombre"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.nombre}"/>
                    </p:column>
                </p:dataTable>
                
            </p:panel>
            
             <p:panel header="Recorrido PostOrden" rendered="#{!controladorABB.arbol.esVacio()}">
                <p:dataTable value="#{controladorABB.arbol.recorrerPostOrden()}"
                             var="filaIn">
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Nro"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.nroIdentificacion}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Nombre"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.nombre}"/>
                    </p:column>
                </p:dataTable>
                
            </p:panel>
        </h:form>


    </h:body>
</html>

